.App 
{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #eee;
   flex-direction: column;
   height: 90vh;
   
}

.form
{
  background-color: rgb(170, 50, 50);
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}
input
{
  width: 300px;
  height: 45px;
  outline: none;
  margin:15px 0px;
  padding-left: 15px;
  font-weight: bolder;
  border-radius: 8px;
  border: none;
}
.head
{
  margin-bottom: 30px;
}
label
{
  font-weight: bolder;
  color: white;
  margin: 0px 10px;
}
.btn
{
  margin-top: 30px;
  
}
Button
{
  background-color: orange;
  color: white;
  font-weight: bolder;
  width: 100%;
  border: none;
  border-radius:5px ;
  padding: 10px 50px;
}


